@model FirstNetCoreMvcSY.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürünler</h2>

<p>
    <a asp-action="Create">Yeni Ürün Ekle</a>
</p>

<table class="table">
    <thead>
        <tr class="row">
            <th>
                <label asp-for="Products.FirstOrDefault().Id" class="control-label"></label>
            </th>
            <th>
                <label asp-for="Products.FirstOrDefault().Name" class="control-label"></label>
            </th>
            <th>
                <label asp-for="Products.FirstOrDefault().Price" class="control-label"></label>
            </th>
            <th>
                <label asp-for="Products.FirstOrDefault().Balance" class="control-label"></label>
            </th>
            <th>
                <label asp-for="Products.FirstOrDefault().ImagePath" class="control-label"></label>
            </th>
            <th>
                <label asp-for="Products.FirstOrDefault().Brand" class="control-label"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr class="row">
                <td class="col-sm-2">
                    <input asp-for="@item.Id" class="form-control" disabled />
                </td>
                <td>
                    <input asp-for="@item.Name" class="form-control" disabled />
                </td>
                <td>
                    <input asp-for="@item.Price" class="form-control" disabled />
                </td>
                <td>
                    <input asp-for="@item.Balance" class="form-control" disabled />
                </td>
                <td>
                    <img src="~/images/@Url.Content(item.ImagePath)" width="60" height="60" />
                </td>
                <td>
                    <select asp-for="@item.Brand" asp-items="Model.Brands" class="form-control" disabled></select>
                </td>
                <td>                    
                    <input id="btnDelete" class="btn-primary" type="button" data-prop="@item.Id" value="Sil" />
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">

        var doDelete = function (id) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};

            headers['__RequestVerificationToken'] = token;

            $.ajax({
                type: "POST",
                url: "Product/DeleteWithConfirmation"+"/"+id,
                success: function (d) {
                    window.location = "Product";
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                    $.alert({
                        title: textStatus,
                        content: xhr.responseText,
                    });
                }
            });
        }

        $(document).ready(function () {

            

            $('#btnDelete').click(function onClick() {
                var data = $('#btnDelete').attr('data-prop');
                $.confirm({
                    title: 'Onay',
                    content: 'Sİlmek istediğinize emin misiniz ?',
                    type: 'red',
                    theme: 'dark',
                    typeAnimated: true,
                    buttons: {
                        tryAgain: {
                            text: 'Evet',
                            btnClass: 'btn-red',
                            action: function () {
                                doDelete(data);
                            }
                        },
                        close: {
                            text:'Vazgeç'
                        }
                    }
                });

            });
        });

    </script>
}
